h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

body {
    margin: 0;
    position: relative;
    background-color: #EEEFEE;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar nav>li {
    list-style-type: none;
    float: left;
    margin: 0 17px;
    padding: 1.5px 0;
}


.topNavBar a {
    text-decoration: none;
}

.topNavBar nav li a {
    font-size: 14px;
    padding: 5px 0;
    border-top: 3px solid transparent;
    display: block;
    font-weight: bold;
    color: inherit;
    position: relative;
}

.topNavBar nav li a:hover::after,
.topNavBar li ul li:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: rgb(232, 103, 103);
    animation: navSlider .2s linear;
}

@keyframes navSlider {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar nav {
    float: right;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
}

.topNavBar.sticky {
    background: #fff;
    color: #3d4451;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.12);
}

.topNavBar .wraper {
    padding: 0 16px;
}

.topNavBar .brand {
    font-family: "Fredoka One";
    font-size: 30px;
}

.topNavBar .brand .rs {
    color: rgb(232, 103, 103);
    margin-right: 3px;
}

.topNavBar li {
    position: relative;
    word-break: keep-all;
}

.topNavBar .sub-menu {
    display: none;
    position: absolute;
    padding-top: 4px;
    background-color: #fff;
    color: #3d4451;
    font-size: 14px;
    padding: 5px 10px;
    right: 0;
    animation: subMenuSlid .2s linear;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@keyframes subMenuSlid {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

.topNavBar .sub-menu li {
    cursor: pointer;
    position: relative;
    margin-top: 3px;
}

.topNavBar li:hover .sub-menu {
    display: block;
}


.banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 520px;
}

.mask{
    background-color: rgba(0, 0, 0, 0.7);
    height: 520px;
}

.user-card {
    /*border: 1px solid red;*/
    max-width: 940px;
    margin: 0 auto;
    background-color: #FEFFFE;
    margin-top: -350px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);

}

.user-card .profile {
    padding: 50px;
}

.user-card .avatar {
    float: left;
}

.user-card .text {
    float: left;
    margin-left: 65px;
    width: 470px;

}

.user-card .hello {
    background-color: #E86767;
    color: white;
    padding: 4px 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    position: relative;
    display: inline-block;
    margin-bottom: 28px;
}

.user-card .triangle {
    /*height: 20px;
    width: 20px;*/
    position: absolute;
    left: 5px;
    top: 100%;
    border: 4px solid transparent;
    border-top: 4px solid #E86767;
    border-left: 4px solid #E86767;
}

.user-card h1 {
    margin-bottom: 4px;
}

.user-card hr {
    margin: 16px 0;
}

.user-card dl > dt,
.user-card dl > dd {
    float: left;
    padding: 5px 0;
}

.user-card dl > dt {
    width: 30%;
    font-weight: bold;
}

.user-card dl > dd {
    width: 70%;
    color: #9da0a7;
}

footer.contact {
    background: #E86767;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

footer.contact .icon {
    margin: 0 15px;
    font-size: 25px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    margin: 24px;
    line-height: 35px;

}

footer.contact .icon:hover {
    background-color: #CF5D5F;
}

.download {
    text-align: center;
    margin: 56px 0 64px 0;
}

.download a {
    padding: 21px 55px;
    letter-spacing: 0.05em;
    margin: 5px;
    border: 1px solid #cbcdcf;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: #3d4451;
    line-height: 1.1;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;

}
.download a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.selfIntro {
    max-width: 940px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    margin-top: -9px;
}

.skills {
    margin-top: 66px;
}

header {
    text-align: center;
}

header h2 {
    font-size: 34px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #3d4451;
}

.skills header {
    margin-bottom: 26px;
}

.skills .content {
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.skills ul {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills li {
    width: 47%;
    margin: 20px 10px;
}

.skills p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3d4451;
    margin-bottom: 3px;
}

.skills .content .bar {
    background-color: #fae1e1;
    height: 5px;
    border-radius: 3px;
}

.skills .realBar {
    height: 5px;
    background-color: #e86767;
    border-radius: 3px;
}

.portfolio header {
    margin: 60px 0 30px 0;
}

.portfolio nav {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.portfolio .bar {
    background: white;
    width: 300px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
}

.portfolio .realBar {
    height: 5px;
    background-color: #e86767;
    border-radius: 3px;
    width: 10%;
}

.portfolio li {
    cursor: pointer;
}

.portfolio .works {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.portfolio .big,
.portfolio .small {
    position: absolute;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    object-fit: cover;
}

.portfolio .big,
.portfolio .big img {
    width: 600px;
    height: 600px;
}

.portfolio .small,
.portfolio .small img {
    width: 290px;
    height: 290px;
}
